/**
 * zhx-app-web css
 */
html,body{
    margin:0;padding:0;
    overflow-x:hidden; overflow-y:auto;
    font-family: 'Arial';
}
.top{
    background-image: url(../phone/TOP.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 115vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;

}


.images{
    display:block;
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}


.img5{
    background-image: url(../phone/bottom.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 7vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.download2{
    height:3vh;
    margin-right:5vh;
}

.download3{
    height:3vh;
    margin-right:5vh;
}

.download{
    height:3vh;
    margin-top:34vh;
}